
      <div class="bg-footer center-footer">
        <div>
        <div class="container pt-5">
          <div class="row">
            <div class="col-md-3 about-sec">
              <h3 class="rabbitworx-footer">rabbit<strong id="bold-worx">worx</strong></h3>
              <p>We are a fast growing website technology company. Building website is not only a job, it is our passion. We have the ability to open your business to a whole new oportunity. Experience it yourself.</p>
            </div>
            <div class="col-md-3">
              <h3 class="head-footer">Navigation</h3>
              <ul>
                <li><a class="ac" href="/">Home</a></li>
                <li><a class="ac" href="/portfolio">Portfolio</a></li>
                <li><a class="ac" href="/packages">Pricing</a></li>
                <li><a class="ac" href="/contact">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="head-footer">Our Services</h3>
              <ul>
                <li><a class="ac" href="/packages">Website Development</a></li>
                <li><a class="ac" href="/portfolio">SEO Management</a></li>
                <!--<li><a class="ac" href="/packages">Web Hosting</a></li>-->
                <li><a class="ac" href="/contact">Digital Ads Management</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="head-footer">Contact Us</h3>
              <span class="sub-footer">Address</span>
              <span><br>Jalan P15/H, Precint 15, <br>62050 Putrajaya, Malaysia</span><br>
              <span class="sub-footer">Email</span>
              <span><br>hello@rabbitworx.com</span><br>
              <span class="sub-footer">Phone</span>
              <span><br>+6016-4449501</span>
              </div>
          </div>
          <hr id="whr">
          <div class="copyright-sec">
            <div class="row">
              <div class="col-md-6">
                <small>Rabbirworx <i class="far fa-copyright"></i> Copyright 2017-2018</small>
                <small>Icons made by <a target="_blank" class="aWhite" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a target="_blank" class="aWhite" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a class="aWhite" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
              </div>
              <div class="col-md-6">
                <h3 class="text-right"><a class="aWhite" href="https://www.facebook.com/rabbitworx/"><i class="fab fa-facebook-f"></i></a> <a class="aWhite" href="https://www.instagram.com/rabbitworxweb/"><i class="fab fa-instagram"></i></a></h3>
              </div>
            </div>
          </div>
          <script src="/js/main.js"></script>
        </div>
      </div>
      </div>
    <script src="/js/particles.min.js"></script>
    <script src="/js/particleapp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <script src="/js/parallax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/visibility.min.js"></script>
    
  </body>
</html>