<!doctype html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta hhtp-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Rabbitworx: Malaysia Website Design & Developer.</title>
      <meta name="description" content="We provide the best web website design. Beautiful & responsive web design suitable for mobile and desktop. Experienced in e-Commerce, Company Profile Website, and Small Business Website" />
      <!--standard meta data-->
      <meta name="email" content="hello@rabbitworx.com" />
      <meta name="og:country-name" content="Malaysia" />
      <meta name="coverage" content="World Wide" />
      <meta name="country" content="Malaysia" />
      <link rel="author" href="https://instagram.com/rabbitworxweb" />
      <!--end standard meta data-->
      <link rel="shortcut icon" type="image/png" href="./assets/favicon.png" />
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/landing.css">
        
      <script src="/js/jquery-3.3.1.min.js"></script>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://www.rabbitworx.com",
          "logo": "https://i.imgur.com/aXVDzzS.png",
          "name": "Rabbitworx Website Design",
          "description": "Develop & create custom website. Beautiful and responsive website design. With packages price starts at RM550 makes us the cheapest in Malaysia.",
          "contactPoint": [
            { "@type": "ContactPoint",
              "telephone": "+60164449501",
              "contactType": "Sales",
              "email": "hello@rabbitworx.com"
            }
          ]
        }
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <!--reCAPTCHA-->
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script>
        $(document).ready(function() {
          $('#comment_form').submit(function() {
            $(this).ajaxSubmit({
              error: function(xhr) {
                status('Error: ' + xhr.status);
              },
             success: function(response) {
              console.log(response);
             }
            });
            //Very important line, it disable the page refresh.
            return false;
          });
        });
      </script>
  <!--reCAPTCHA-->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117709305-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-117709305-1');
        gtag('config', 'AW-807895024');
      </script>
      <!--Google Console Verify-->
      <meta name="google-site-verification" content="INFo6AvvauCNpQauv_5fdviAp40cwxBCpqBv7dD4mM0" />
      <!--Bing Verify-->
      <meta name="msvalidate.01" content="EC6E819DBA129EFD90D66F3ED0249BD5" />

    </head>
    <body id="mainBody">
      <nav id="mainNavbar" style="z-index: 1" class="navbar bg-transparent navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><img id="navbarBrandImg" src="https://i.imgur.com/aXVDzzS.png" alt="Rabbitworx Logo"></a>
        <a class="navbar-brand"><div style="width:128px" class="p-3 mb-2 text-light">rabbit<strong>worx</strong></div></a>
        <button id="collapseToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a id="item1" class="nav-item nav-link navnav" href="/">Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#whatWeDoId">Website Maintenance</a>
                <a class="dropdown-item" href="#whatWeDoId">Website Design</a>
                <a class="dropdown-item" href="#whatWeDoId">SEO Optimization</a>
              </div>
            </li>
            <a id="item2" class="nav-item nav-link navnav" href="/portfolio">Portfolio</a>
            <a id="item3" class="nav-item nav-link navnav" href="/packages">Pricing</a>
            <a id="item4" class="nav-item nav-link navnav" href="/contact">Contact Us</a>
            <a id="item4" class="nav-item nav-link navnav" href="https://chicachi.tk" target="_blank">Blog</a>
            <!--<a id="item5" class="nav-item nav-link navnav" href="/about">About Us</a>-->
          </div>
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link navnav" href="/"><i class="fas fa-mobile-alt colorHighlite"></i> +6016 4449501<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link navnav" href="/"><i class="far fa-envelope colorHighlite"></i> hello@rabbitworx.com<span class="sr-only">(current)</span></a>
          </div>
        </div>
      </nav>
      
      <!--hidden navbar-->
     <nav style="z-index: 1" class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="fixed-menu" style="background-color: black;">
        <a class="navbar-brand" href="/"><img style="width: 50px; height: 50px;" src="https://i.imgur.com/aXVDzzS.png" alt="Rabbitworx Logo White"></a>
        <a class="navbar-brand"><div style="width:128px" class="p-3 mb-2 text-dark">rabbit<strong>worx</strong></div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup2" aria-controls="navbarNavAltMarkup2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
          <div class="navbar-nav">
            <a id="item1" class="nav-item nav-link navnav" href="/">Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#whatWeDoId">Website Maintenance</a>
                <a class="dropdown-item" href="#whatWeDoId">Website Design</a>
                <a class="dropdown-item" href="#whatWeDoId">SEO Optimization</a>
              </div>
            </li>
            <a id="item2" class="nav-item nav-link navnav" href="/portfolio">Portfolio</a>
            <a id="item3" class="nav-item nav-link navnav" href="/packages">Pricing</a>
            <a id="item4" class="nav-item nav-link navnav" href="/contact">Contact Us</a>
            <a id="item4" class="nav-item nav-link navnav" href="https://chicachi.tk" target="_blank">Blog</a>
            <!--<a id="item5" class="nav-item nav-link navnav" href="/about">About Us</a>-->
          </div>
          <div class="navbar-nav ml-auto">
          </div>
        </div>
      </nav>
      
      <!--flash message  -->
        <% if(success && success.length > 0) { %>
        <div class="alert alert-primary" role="alert">
          <%= success %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }; %>
        
        <% if(fault && fault.length > 0) { %>
        <div class="alert alert-warning" role="alert">
          <%= fault %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }; %>
        
  