</head>
    <body id="mainBody">
<nav style="z-index: 2" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img id="navbarBrandImg" src="https://i.imgur.com/aXVDzzS.png" alt="Rabbitworx Logo"></a>
        <a class="navbar-brand"><div style="width:128px" class="p-3 mb-2 text-dark">rabbit<strong>worx</strong></div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseFirst" aria-controls="collapseFirst" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseFirst">
          <div class="navbar-nav">
            <a id="item1" class="nav-item nav-link navnav" href="/">Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">Website Maintenance</a>
                <a class="dropdown-item" href=/>Website Design</a>
                <a class="dropdown-item" href="/">SEO Optimization</a>
              </div>
            </li>
            <a id="item2" class="nav-item nav-link navnav" href="/portfolio">Portfolio</a>
            <a id="item3" class="nav-item nav-link navnav" href="/packages">Pricing</a>
            <a id="item4" class="nav-item nav-link navnav" href="/contact">Contact Us</a>
            <a id="item5" class="nav-item nav-link navnav" href="https://chicachi.tk" target="_blank">Blog</a>
          </div>
          <div class="navbar-nav ml-auto">
          </div>
        </div>
      </nav>
      
      <!--hidden navbar-->
     <nav style="z-index: 1" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img style="width: 50px; height: 50px;" src="https://i.imgur.com/aXVDzzS.png" alt="Rabbitworx Logo"></a>
        <a class="navbar-brand"><div style="width:128px" class="p-3 mb-2 text-dark">rabbit<strong>worx</strong></div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseSecond" aria-controls="collapseSecond" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseSecond">
          <div class="navbar-nav">
            <a id="item1" class="nav-item nav-link navnav" href="/">Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">Website Maintenance</a>
                <a class="dropdown-item" href="/">Website Design</a>
                <a class="dropdown-item" href="/">SEO Optimization</a>
              </div>
            </li>
            <a id="item2" class="nav-item nav-link navnav" href="/portfolio">Portfolio</a>
            <a id="item3" class="nav-item nav-link navnav" href="/packages">Pricing</a>
            <a id="item4" class="nav-item nav-link navnav" href="/contact">Contact Us</a>
            <a id="item5" class="nav-item nav-link navnav" href="https://chicachi.tk" target="_blank">Blog</a>
          </div>
          <div class="navbar-nav ml-auto">
          </div>
        </div>
      </nav>
      
      
      <!--flash message  -->
        <% if(success && success.length > 0) { %>
        <div class="alert alert-primary" role="alert">
          <%= success %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }; %>
        
        <% if(fault && fault.length > 0) { %>
        <div class="alert alert-warning" role="alert">
          <%= fault %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }; %>
<!--end header-->