<!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117709305-1"></script>
      <!--reCAPTCHA-->
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script>
        $(document).ready(function() {
          $('#comment_form').submit(function() {
            $(this).ajaxSubmit({
              error: function(xhr) {
                status('Error: ' + xhr.status);
              },
             success: function(response) {
              console.log(response);
             }
            });
            //Very important line, it disable the page refresh.
            return false;
          });
        });
      </script>
      <!--reCAPTCHA-->
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-117709305-1');
        gtag('config', 'AW-807895024');
      </script>
      <!-- Event snippet for Submit Enquiry conversion page -->
      <script>
        gtag('event', 'conversion', {'send_to': 'AW-807895024/GEWXCPD2oYUBEPD_nYED'});
      </script>
      <!--Google Console Verify-->
      <meta name="google-site-verification" content="INFo6AvvauCNpQauv_5fdviAp40cwxBCpqBv7dD4mM0" />
      <!--Google Adsense-->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6142218647062016",
          enable_page_level_ads: true
        });
      </script>

    