
    <!--Stylesheets-->
    <link rel="shortcut icon" type="image/png" href="./assets/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
     <!--Javascript -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    