<!--standard meta data-->
    <meta hhtp-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="email" content="hello@rabbitworx.com" />
    <meta name="og:country-name" content="Malaysia" />
    <meta name="coverage" content="World Wide" />
    <meta name="country" content="Malaysia" />
    <meta name="msvalidate.01" content="EC6E819DBA129EFD90D66F3ED0249BD5" />
    <link rel="author" href="https://instagram.com/rabbitworxweb" />
<!--end standard meta data-->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.rabbitworx.com",
        "logo": "https://i.imgur.com/aXVDzzS.png",
        "name": "Rabbitworx Website Design",
        "description": "Develop & create custom website. Beautiful and responsive website design. With packages price starts at RM750 makes us the cheapest in Malaysia.",
        "contactPoint": [
          { "@type": "ContactPoint",
            "telephone": "+60164449501",
            "contactType": "Sales",
            "email": "hello@rabbitworx.com"
          }
        ]
      }
      </script>