<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Design & Developer | About Us</title>
      <meta name="description" content="Our Website Design Packages price starts at less then RM400 makes us the cheapest in Malaysia. Experienced in e-Commerce, Company Profile Website and Personal Blog. Free Hosting and Free Domain for a Year." />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>
<div class="container slideImgDiv">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 slideImg" src="https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=137b1b593ba99716c7cdefcfd300b064&auto=format&fit=crop&w=1950&q=80" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    <h5>zcheck </h5>
    <p>below</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 slideImg" src="https://images.unsplash.com/photo-1487581424120-18f3611a63e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb87a25dcd5110b903616b765084274a&auto=format&fit=crop&w=1926&q=80" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dab1f9068d2b059a79cfdc65b2731dd&auto=format&fit=crop&w=2134&q=80" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    <div class="card bg-dark">
      <img class="card-img" src="https://images.unsplash.com/photo-1506097425191-7ad538b29cef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f9d1e666beae8d2a5082f7c1d27b31b&auto=format&fit=crop&w=1500&q=80" alt="Card image">
      <img class="card-img" src="https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8b82dbd7fe9677e9218686a427ea6d7&auto=format&fit=crop&w=1500&q=80" alt="Card image">
      <div class="card-img-overlay">
        <div class="container-fluid">
          <div class="jumbotron jumbotron-fluid jumbo-container">
            <div class="container" >
              <h1 class="display-4">Who we are</h1>
              <hr class="my-4">
              <p class="lead">
                Internet is a global network connecting millions of computers all around the world.  With an access to a personal computer or a smartphone nowadays, any information can be receive or transmitter at one fingertip.  Internet has become a necessity in our life.  Emergence of he internet has taken the world by storm.  
                Its usefulness in speading information all around the globe cannot be taken lightly.
              </p>
              <p class="lead">
                You can now let your company front door opens to the world with us.  Take a step forward in this and prepare to leap a few more.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="container-fluid">
              <div class="jumbotron jumbotron-fluid jumbo-container">
                <div class="container" >
                  <h1 class="display-4">Who we are</h1>
                  <hr class="my-4">
                  <p class="lead">
                    Internet is a global network connecting millions of computers all around the world.  With an access to a personal computer or a smartphone nowadays, any information can be receive or transmitter at one fingertip.  Internet has become a necessity in our life.  Emergence of he internet has taken the world by storm.  
                    Its usefulness in speading information all around the globe cannot be taken lightly.
                  </p>
                  <p class="lead">
                    You can now let your company front door opens to the world with us.  Take a step forward in this and prepare to leap a few more.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="container-fluid">
              <div class="jumbotron jumbotron-fluid jumbo-container">
                <div class="container" >
                  <h1 class="display-4">Who we are</h1>
                  <hr class="my-4">
                  <p class="lead">
                    Internet is a global network connecting millions of computers all around the world.  With an access to a personal computer or a smartphone nowadays, any information can be receive or transmitter at one fingertip.  Internet has become a necessity in our life.  Emergence of he internet has taken the world by storm.  
                    Its usefulness in speading information all around the globe cannot be taken lightly.
                  </p>
                  <p class="lead">
                    You can now let your company front door opens to the world with us.  Take a step forward in this and prepare to leap a few more.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>





<% include partials/footer %>