<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Designer & Developer | Admin Login</title>
      <meta name="description" content="Rabbitworx Admin Login Page" />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>
      <div style="background-color: rgb(244, 66, 66);">
        <div class="container" id="loginForm">
          <div class="row">
            <div class="col-12">
              <h1 class="display-4">Welcome Admin.</h1>
              <p class="lead">Please login password and PIN.</p>
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark btn-block">Login</button>
              </form>
              <a class="btn btn-light btn-block" href="/registeradmin" role="button" style="margin-top: 10px; margin-bottom: 10px;">Register</a>
            </div>
          </div>
        </div>
      </div>

<% include partials/footer %>