<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Design & Developer | Contact Us</title>
      <meta name="description" content="We are a Malaysia based Website Design & Developer. We are a fast growing company with objective to be one of the best website building company in Malaysia." />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>
      <div id="packInfoDiv" class="jumbotron text-center text-white">
        <div class="container">
          <h1>Contact Us</h1>
          <p class="lead">
            Hey there! Thanks for checking out our page.  Please leave a message on how we can improve and what we are missing to better serve you in the future.  Your constructive input means a lot to us.
          </p>
        </div>
      </div>
      <div class="container">
        <div class="row p-5">
          <div class="col-lg-4 mb-3 mt-3 hvr-grow">
            <div class="row">
              <div class="col-4">
                <img class="contactImg" src="https://i.imgur.com/a5VbdFj.png" alt="Rabbitworx Address">
              </div>
              <div class="col-8">
                <span>Address:</span><br>
                <span class="contactInfo">Jalan P15/H, Precint 15, <br>62050 Putrajaya, Malaysia</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mt-3 hvr-grow">
            <div class="row">
              <div class="col-4">
                <img class="contactImg" src="https://i.imgur.com/7MORdP8.png" alt="Rabbitworx Email">
              </div>
              <div class="col-8">
                <span>Email:</span><br>
                <span class="contactInfo"><a class="contactInfo" href="mailto: hello@rabbitworx.com">hello@rabbitworx.com</a></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3 mt-3 hvr-grow">
            <div class="row">
              <div class="col-4">
                <img class="contactImg" src="https://i.imgur.com/6IFZvEF.png" alt="Rabbitworx Phone">
              </div>
              <div class="col-8">
                <span>Phone:</span><br>
                <span class="contactInfo">Mobile: +6016 444 9501</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-lg-6">
            <!--Google Maps-->
          <style>
              #map   {
                      height: 100%;
                      width: 100%;
                     }
          </style>
              <div id="map"></div>
              <script>
                function initMap() {
                  var uluru = {lat: 2.941744, lng: 101.7167997};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: uluru
                  });
                  var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                  });
                }
              </script>
              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcbJ3tPWxTNPx39AHeuKdjky3qvpS5JtQ&callback=initMap">
              </script>
          
          <!--Google Maps-->
          </div>
          <div class="col-lg-6">
            <h4 class="header">Leave a message</h4>
                <form action="/message" method="POST">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">First name</label>
                      <input type="text" class="form-control" name="feedback[firstName]" placeholder="Kurt">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputName">Last name</label>
                      <input type="text" class="form-control" name="feedback[lastName]" placeholder="Cobain">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" name="feedback[email]" placeholder="user@email.com">
                  </div>
                  <div class="form-row">
                    <!--<div class="form-group col-md-6">-->
                      <label for="textAreaComment">Message</label>
                      <textarea class="form-control" name="feedback[message]" rows="5" placeholder="Leave a message"></textarea>
                    <!--</div>-->
                  </div>
                  <button style="margin-top: 5%; margin-bottom: 5%" type="submit" class="btn btn-lg btn-primary btn-block"><i class="far fa-paper-plane"></i> Post</button>
                </form>
          </div>
        </div>
      </div>

<% include partials/footer %>