<div class="card bg-light mt-4">
  <div class="card-header">
    <div style="width:113px" class="p-3 mb-2 bg-primary text-white">rabbit<strong>worx</strong></div>
  </div>
  <div class="card-body">
    <h5>Request FREE Quotation Today!</h5>
      <p>*Please fill in form below to let us know that you are interested in us.  We will get back to you as soon as possible.</p>
      <form action="/enquiry" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text labelEnquiryForm" id="nameInput">Name*</span>
        </div>
        <input required name="enquiry[name]" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text labelEnquiryForm" id="emailInput">Email*</span>
        </div>
        <input required name="enquiry[email]" type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text labelEnquiryForm" id="phoneInput">Phone*</span>
        </div>
        <input required name="enquiry[phone]" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Phone Number">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text labelEnquiryForm" for="categoryInput">Category</label>
        </div>
        
        <% var servType0 = "" %>
        <% var servType1 = "" %>
        <% var servType2 = "" %>
        <% var servType3 = "" %>
        <% switch (type) {
          
          case 'webmaintenance' : %>
          <% servType1 = "selected" %>
          <% code = "I need help to keep my website content fresh." %>
          <% break;

          case 'webdesign' : %>
          <% servType2 = "selected" %>
          <% code = "I need a user friendly responsive website design." %>
          <% break;

          case 'webSEO' : %>
          <% servType3 = "selected" %>
          <% code = "I need help to optimize my website content for search engine." %>
          <% break;

          case 'default' : %>
          <% servType0 = "selected" %>

          <% break;
        } %>
        
        <select required name="enquiry[category]" class="custom-select" id="catSel">
          <option <%= servType0 %> >Choose...</option>
          <option <%= servType1 %> value="webMaintenance">Web Maintenance</option>
          <option <%= servType2 %> value="webDesign">Web Design</option>
          <option <%= servType3 %> value="webSEO">SEO Optimization</option>
        </select>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text labelEnquiryForm">Remarks</span>
        </div>
        <textarea name="enquiry[remarks]" class="form-control" aria-label="With textarea" placeholder="Leave us a message."><%= code %></textarea>
      </div>
      <div class="mt-3">
        <div class="g-recaptcha" data-sitekey="6LedMoQUAAAAALhKuHM7v2OxPwEHrYTXT5FAAGrN"></div>
      </div>
      <button class="btn btn-primary btn-block" id="enquiryBtn">
        Submit
      </button>
    </form>
  </div>
</div>