<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Design & Developer | Enquiry Form</title>
      <meta name="description" content="Our Website Design Packages price starts at less then RM399 makes us the cheapest in Malaysia. Experienced in e-Commerce, Company Profile Website and Personal Blog. Free Hosting and Free Domain for a Year." />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>
        <div id="bgBlueGradient">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <% include enquiryForm %>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="container slideDownItem">
                            <h2><img src="https://i.imgur.com/RqjdETR.png"> What can we do to help?</h2>
                            
                            <% switch (type) {
                              
                              case 'webdesign' : %>
                              <strong>Why do you want to create a website with us?</strong>
                                <ul>
                                    <li>All of our design is responsive, mobile and desktop friendly</li>
                                    <li>We make sure your website has basic SEO metadata and content</li>
                                    <li>We provide free hosting and custom domain</li>
                                    <li>Our server is fast and 99.9% availability</li>
                                </ul>
                              <% break;
                    
                              case 'webmaintenance' : %>
                              <strong>What can we do for your website?</strong>
                                <ul>
                                    <li>Update your website content so that your website stays relevant and fresh.</li>
                                    <li>Update software and dependencies for your website.</li>
                                </ul>
                              <% break;
                    
                              case 'webSEO' : %>
                              <strong>Concern whether your website structure and content is search engine optimized?</strong>
                                <ul>
                                    <li>Rewrite your website content with the keyword that most people will search.</li>
                                    <li>Rewrite your website metadata to have rich keyword elements.</li>
                                    <li>Make sure your website is easy to be crawl by search engines.</li>
                                    <li>Webmaster tool optimization.</li>
                                </ul>
                              <% break;
                    
                              case 'default' : %>
                              <strong>We are so happy to have you! Well what can we do to help you today?</strong>
                    
                              <% break;
                            } %>
            
                        </div> 
                    </div>
                </div>
            </div>
        </div>

<% include partials/footer %>