<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Design & Developer | Enquiry</title>
      <meta name="description" content="Our Website Design Packages price starts at less then RM750 makes us the cheapest in Malaysia. Experienced in e-Commerce, Company Profile Website and Personal Blog. Free Hosting and Free Domain for a Year." />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>
      <div class="container">
        <h1 class="display-4">Enquiry</h1>
        <table class="table" style="background-color: rgba(249, 249, 249, 0.9);">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Category</th>
              <th scope="col">Budget</th>
              <th scope="col">Remarks</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% enquiries.forEach(function(enquiry) { %>
            <tr>
              <th scope="row"><%= enquiry.length %></th>
              <td><%= enquiry.name %></td>
              <td><%= enquiry.createdAt.toDateString() %></td>
              <td><a href="mailto: <%= enquiry.email %>"><%= enquiry.email %></a></td>
              <td><%= enquiry.phone %></td>
              <td><%= enquiry.type %></td>
              <td><%= enquiry.budget %></td>
              <td><%= enquiry.remarks %></td>
              <td><%= enquiry.action %></td>
              <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select..
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <form action="/<%= enquiry._id %>/replied" method="POST">
                        <button class="dropdown-item" type="button">Replied</button>
                        </form>
                        <form action="/<%= enquiry._id %>/done" method="POST">
                        <button class="dropdown-item" type="button">Done</button>
                        </form>
                        <form action="/enquiry/<%= enquiry._id %>?_method=DELETE" method="POST">
                        <button class="dropdown-item" type="submit">Delete</button>
                        </form>
                      </div>
                    </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <h1 class="display-4">Message</h1>
        <table class="table" style="background-color: rgba(249, 249, 249, 0.9);">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
              <th scope="col">Message</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% messages.forEach(function(message) { %>
            <tr>
              <th scope="row"><%= message.length %></th>
              <td><%= message.name %></td>
              <td><%= message.createdAt %></td>
              <td><a href="mailto: <%= message.email %>"><%= message.email %></a></td>
              <td><%= message.message %></td>
              <td><%= message.action %></td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select..
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <form action="/<%= message._id %>/replied" method="POST">
                      <button class="dropdown-item" type="button">Replied</button>
                    </form>
                    <form action="/<%= message._id %>/done" method="POST">
                      <button class="dropdown-item" type="button">Done</button>
                    </form>
                    <form action="/<%= message._id %>/del?_method=DELETE" method="POST">
                      <button class="dropdown-item" type="button">Delete</button>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

<% include partials/footer %>