<% include partials/headerLanding %>

<main role="main">
    <div class="fullheight" id="test-landing">
        <div class="container">
            <div id="giantHeaderCon">
                <h1 id="giantHeader">Create a website and exponentially <span class="colorHighlite">expand </span> your business today.</h1>
                <p id="subcontentHeader">We have the best website development package pricing to accelerate your growth.</p>
                <a href="/packages" class="btn btn-lg btn-outline-light-custom">Pricing</a>
                <a href="/contact" class="btn btn-lg btn-outline-light-custom">Talk To Us</a>
            </div>
        </div>
        <div id="particles-js"></div>
        <!-- The Modal -->
        <div id="backdrop"></div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
        </div>
        <!--end modal-->
        <a id="topBtn" class="bg-primary text-white" onclick="scrollTop()"><i class="fas fa-arrow-up"></i></a>
        <div id="descSection1" class="container text-center mh-1" style="padding-top: 10vh; padding-bottom: 10vh;">
            <h3 class="mainTitleHeader">Why Create a website</h3>
            <hr class="someblue">
            <p class="lead"><small>Why do people go on the internet? Easy, its because one, to do something (eg. streaming video) two, to get something (eg. online shopping) and three, to obtain information (eg. get direction). Benefits of owning a website for your business can be summarized as below.</small></p>
            <div class="row">
            <div class="card-deck">
                <div class="col-md-4">
              <div class="card benefit-card border-0">
                <img class="card-img-top reasonImg pt-3" src="../assets/bank.png" alt="Cost Effective Website Image">
                <div class="card-body">
                  <h5 class="card-title">Cost Effective</h5>
                  <p class="card-text">A strategic and most efficient way to make your business present noticeable.</p>
                </div>
              </div>
              </div>
              <div class="col-md-4">
              <div class="card benefit-card border-0">
                <img class="card-img-top reasonImg pt-3" src="../assets/open.png" alt="Accessibility Website Image">
                <div class="card-body">
                  <h5 class="card-title">Accessibility</h5>
                  <p class="card-text">With a website and social media, your store is accessible 24 hours every day.</p>
                </div>
              </div>
              </div>
              <div class="col-md-4">
              <div class="card benefit-card border-0">
                <img class="card-img-top reasonImg pt-3" src="../assets/handshake.png" alt="Website Credibility Image">
                <div class="card-body">
                  <h5 class="card-title">Credibility</h5>
                  <p class="card-text">With a website, it's your own little press conference.</p>
                </div>
              </div>
            </div>
            </div>
            </div>
        </div>
        <div id="whatWeDoId" class="container text-center mh-1">
            <h3 class="mainTitleHeader">What we do</h3>
            <hr class="someblue">
            <div class="card-deck">
                    <div class="card mb-4 hvr-outline-in">
                        <div class="card-header wwdMaintenance border-0">
                            <span class="wwdIconHeader"><i class="fab fa-whmcs"></i></span>
                            <h4 class="package-title text-center">
                                Web Maintenance
                            </h4>
                          </div>
                        <div class="card-body bg-light">
                          <h5 class="card-title">Our Service</h5>
                          <p class="card-text">Keeping your website content fresh is one way to continue having a steady stream of visitors.</p>
                          <div class="wwdPoint">
                              <p>We will:</p>
                              <ul>
                                <li>Update website content.</li>
                                <li>Update software or dependencies.</li>
                              </ul>
                          </div>
                        </div>
                        <div class="card-footer">
                          <a class="btn btn-primary btn-block" href="/quotation/webmaintenance" role="button">Get Quote!</a>
                        </div>
                      </div>
                    <div class="card mb-4 hvr-outline-in">
                        <div class="card-header wwdDesign border-0">
                            <div>
                                <span class="wwdIconHeader"><i class="fas fa-pencil-ruler"></i></span>
                                <h4 class="package-title text-center">
                                    Web Design
                                </h4>
                            </div>
                          </div>
                        <div class="card-body bg-light">
                          <h5 class="card-title">New Website Design or Major Renovation</h5>
                          <p class="card-text">Our website design (ie; company profile, e-commerce & etc) is mobile and desktop friendly, with responsive design there is no need for a separate website.</p>
                          <div class="wwdPoint">
                              <p>Our design is:</p>
                              <ul>
                                <li>Responsive.</li>
                                <li>Load speed optimized.</li>
                                <li>Standard SEO meta data build-in.</li>
                              </ul>
                          </div>
                        </div>
                        <div class="card-footer">
                          <a class="btn btn-warning btn-block text-white" href="/quotation/webdesign" role="button">Get Quote!</a>
                        </div>
                      </div>
                    <div class="card mb-4 hvr-outline-in">
                        <div class="card-header wwdSEO border-0">
                            <span class="wwdIconHeader"><i class="far fa-lightbulb"></i></span>
                            <h4 class="package-title text-center">
                                SEO Optimization
                            </h4>
                          </div>
                        <div class="card-body bg-light">
                          <h5 class="card-title">Google & Bing Optimized</h5>
                          <p class="card-text">Having a good ranking in a search engine search result page will guarantee that your website going to have a free constant flow of traffic.</p>
                          <div class="wwdPoint">
                              <p>We will:</p>
                              <ul>
                                <li>Make sure content is keyword rich.</li>
                                <li>Google Seach Console optimized.</li>
                                <li>Bing Seach Console optimized.</li>
                                <li>Optimized meta data.</li>
                              </ul>
                          </div>
                        </div>
                        <div class="card-footer">
                          <a class="btn btn-info btn-block" href="/quotation/webSEO" role="button">Get Quote!</a>
                        </div>
                </div>
            </div>
        </div>
        <div id="formSection">
            <div class="parallax-window" data-parallax="scroll" data-image-src="https://images.unsplash.com/photo-1495592528496-a143a67931d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efc953f0cf4fae51608618a71078c7df&auto=format&fit=crop&w=1500&q=80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="container-fluid landing-jumbotron">
                                <h2 class="display-4 text-shadow bold">Talk to us.</h2>
                                <p id="subcontentTitle" class="text-shadow">How much is the cost to create a website you asked? You are in luck. Our basic website development package starts at RM750 only! Apply for a free quotation today and you might receive more discount.</p>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin-bottom: 5%">
                            <% include enquiryForm %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white text-center">
            <div class="container" id="media-container">
                <div id="media-bar">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frabbitworx.com%2F&amp;src=sdkpreparse"><button type="button" class="btn btn-outline-primary rounded-btn hover-fb"><i class="fab fa-facebook-f"></i></button></a>
                    <a target="_blank" href="https://twitter.com/intent/tweet?text=Malaysia%20web%20developer.%20Check%20out%20their%20webpage%20here%20http://rabbitworx.com"><button type="button" class="btn btn-outline-primary rounded-btn hover-tw"><i class="fab fa-twitter"></i></button></a>
                    <a target="_blank" href="https://www.instagram.com/"><button type="button" class="btn btn-outline-primary rounded-btn hover-ig"><i class="fab fa-instagram"></i></button></a>
                </div>
            </div>
        </div>
        <div class="bg-features">
            <div class="container text-center">
                <h3 class="mainTitleHeader">Expertise</h3>
                <hr class="someblue">
                <div class="row d-flex justify-content-center">
                    <div class="card-deck">
                    <div class="col-lg-3 col-md-6">
                        <div class="card-expertise text-center pt-4 pb-4 mb-4">
                            <img class="card-img-top small hvr-rotate" src="../assets/ecomm.png" alt="Create E-commerce Website Logo">
                            <!--<img class="card-img-top small" src="https://i.imgur.com/A4GMAcC.png" alt="Create E-commerce Website Logo">-->
                            <h5 class="text-features">E-commerce</h5>
                            <ul class="featureList">
                                <li>Online payment system</li>
                                <li>Filter product by criteria</li>
                                <li>Admin dashboard</li>
                                <li>Content Management</li>
                            </ul>
                            <div class="container">
                                <a class="aBlack" href="/enquiryForm/packages/hard"><button type="button" class="btn btn-outline-primary btn-block">Quote me</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card-expertise text-center pt-4 pb-4 mb-4">
                            <img class="card-img-top small hvr-rotate" src="../assets/store.png" alt="Create Website Store Logo">
                        <!--<img class="card-img-top small" src="https://i.imgur.com/80y0vdW.png" alt="Create Website Store Logo">-->
                        <h5 class="text-features">Store</h5>
                        <ul class="featureList">
                            <li>Open to new target customer</li>
                            <li>Boost store availability</li>
                            <li>Advertising store details</li>
                        </ul>
                        <div class="container">
                            <a class="aBlack" href="/enquiryForm/packages/medium"><button type="button" class="btn btn-outline-primary btn-block">Quote me</button></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card-expertise text-center pt-4 pb-4 mb-4">
                            <img class="card-img-top small hvr-rotate" src="../assets/blog.png" alt="Create Custom Blog Logo">
                        <!--<img class="card-img-top small" src="https://i.imgur.com/td4LJlN.png" alt="Create Custom Blog Logo">-->
                        <h5 class="text-features">Blog</h5>
                        <ul class="featureList">
                            <li>Custom blog layout</li>
                            <li>Custom content management</li>
                            <li>Your own personal style</li>
                        </ul>
                        <div class="container">
                            <a class="aBlack" href="/enquiryForm/packages/easy"><button type="button" class="btn btn-outline-primary btn-block">Quote me</button></a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card-expertise text-center pt-4 pb-4 mb-4">
                            <img class="card-img-top small hvr-rotate" src="../assets/profile.png" alt="Create Company Profile Website Logo">
                        <!--<img class="card-img-top small" src="https://i.imgur.com/4Q1GgoB.png" alt="Create Company Profile Website Logo">-->
                        <h5 class="text-features">Company Profile</h5>
                        <ul class="featureList">
                            <li>Increase company credibility</li>
                            <li>Extend your client reach</li>
                            <li>Looks professional</li>
                        </ul>
                        <div class="container">
                                <a class="aBlack" href="/enquiryForm/packages/easy"><button type="button" class="btn btn-outline-primary btn-block">Quote me</button></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="infoDiv" class="bg-primary text-white text-center">
            <div class="row">
                <div class="col-lg-6" style="padding:0;">
                    <img class="bgImg" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=581511fae3d6e46d55eb0b6f3d86b69d&auto=format&fit=crop&w=1500&q=80" alt="Website Deveopent Background Image">
                </div>
                <div class="col-lg-6">
                    <div class="row d-flex justify-content-center" id="infoSection">
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <!--<div class="display-big"><i class="far fa-file-code"></i></div>-->
                            <img class="small" src="../assets/code.png" alt="Smart coding Logo"><br>
                            <small><strong>Smart Coding</strong></small>
                            <small><p>Our coding principle is to keep it simple and non-redundant</p></small>
                        </div>
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <img class="small" src="../assets/db.png" alt="Database Logo"><br>
                            <!--<div class="display-big"><i class="fas fa-database"></i></div>-->
                            <small><strong>Storage</strong></small>
                            <small><p>High availability and low downtime database for those high demand web page</p></small>
                        </div>
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <img class="small" src="../assets/lock.png" alt="Security Logo"><br>
                            <!--<div class="display-big"><i class="fas fa-lock"></i></div>-->
                            <small><strong>Security</strong></small>
                            <small><p>Secure data transfer comes as a standard, use ACME protocol PKI, X.509 </p></small>
                        </div>
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <img class="small" src="../assets/node.png" alt="Node Js Logo"><br>
                            <!--<div class="display-big"><i class="fab fa-node"></i></div>-->
                            <small><strong>Platform</strong></small>
                            <small><p>We had chosen Node.js as our main platform as it is the best platform to integrate web and server.</p></small>
                        </div>
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <img class="small" src="../assets/ads.png" alt="Loud speaker Logo"><br>
                            <!--<div class="display-big"><i class="fas fa-bullhorn"></i></div>-->
                            <small><strong>Ads</strong></small>
                            <small><p>Online advertising gives you the ability to target and retarget the ideal prospects, we help you set it up</p></small>
                        </div>
                        <div class="info-con col-lg-4 col-md-4 col-6">
                            <img class="small" src="../assets/search.png" alt="Search Logo"><br>
                            <!--<div class="display-big"><i class="fab fa-searchengin"></i></div>-->
                            <small><strong>SEO</strong></small>
                            <small><p>Encompasses both the technical and creative elements required to improve rankings, drive traffic, and increase awareness in search engines</p></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-features" id="step-item">
            <div class="container text-center">
                <h3 class="mainTitleHeader">Website Development Steps</h3>
                <hr class="someblue">
                <div class="row" style="position:relative">
                    <div class="col-md-4 display-none-pure" id="step1">
                        <div class="display-4 circle center"><div class="content">1</div></div>
                        <h5 class="text-features">Submit Inquiry</h5>
                        <p class="lead">After receiving enquiry we will assign a developer to the project. Our developer will contact you to get confirmation and to clear few things out.</p>
                    </div>
                    <div class="col-md-4 display-none-pure" id="step2">
                        <div class="display-4 circle center"><div class="content">2</div></div>
                        <h5 class="text-features">Development & Design</h5>
                        <p class="lead">The official quotation shall be provided along with term and condition, once accepted, design & development work shall begin.</p>
                    </div>
                    <div class="col-md-4 display-none-pure" id="step3">
                        <div class="display-4 circle center"><div class="content">3</div></div>
                        <h5 class="text-features">Deployment & Testing</h5>
                        <p class="lead">Once website final design has been signed off, the website shall be deployed to one of our servers. Testing and bug squashing and finally, your own website ready to serve you and your users.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white nfCenter" id="newsfeedReg">
            <div style="width: 80%">
                <form>
                  <div class="form-group row">
                      <div class="col-lg-6">
                           <h3 class="nfTitle">Register to our newsfeed</h3>
                      </div>
                      <div class="col-lg-4">
                           <input type="email" class="form-control" id="nfEmail" placeholder="Enter Email Address">
                      </div>
                      <div class="col-lg-2">
                           <button type="submit" class="btn btn-info">Submit</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</main>

<% include partials/footer %>

