<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rabbitworx: Malaysia Website Design & Developer | Pricing</title>
    <meta name="description" content="Our cheap & affordable with stunning Website Design Packages price starts at RM750 makes us the cheapest in the competition. We will stay with you if you ever need us with marketing tips and even help you to set up few accounts to help with your business growth." />
    <% include partials/metadata %>
    <% include partials/linkimport %>
    <% include partials/linkgoogle %>
    <% include partials/headermenu %>
    <main role="main">
      <div class="parallax-window" data-parallax="scroll" data-image-src="https://images.unsplash.com/photo-1523396206913-a003efa7861b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99038251fa0ddd1d310a1d659ae0047b&auto=format&fit=crop&w=1510&q=80">
        <div id="packInfoDiv" class="jumbotron text-center text-white">
          <div class="container">
            <h1>Pricing</h1>
            <p class="lead">
              We specialize in the development of low cost but beautiful website design. Our minimalist, clean, informative and responsive user interface website design for both mobile and desktop users will ensure your message is well delivered to the customer. Our aim is to be the among the top website developer with the ability to deliver affordable but fantastic website design. This is what separated us from other major competitors. Listed below is our website development package pricing. Contact us for more details. Thanks for your interest and we are really looking forward to working with you.
            </p>
          </div>
        </div>
      </div>
      <div class="album py-5 bg-light">
        <div class="container-fluid">
          <div class="row">
            <div class="card-deck">
              <div class="col-lg-4">
                <div class="card shadow p-3 mb-5 bg-white rounded hvr-float">
                  <img class="card-image" src="https://i.imgur.com/pwxpCix.png" alt="Easy Website Package Image">
                  <div class="card-header package-card package-easy border-0">
                    <h5 class="package-title text-center">Basic</h5>
                    <p class="lead text-center pricetag">MYR 750 to MYR 1000</p>
                    <!--<p class="lead text-center pricetag">$100 to $250</p>-->
                  </div>
                  <div class="card-body">
                    <p class="card-text-justify">
                      Suitable for small business and start-up looking for rapid growth and meets new potential client from all around the world.  Not having a website at the early stage means that you will lose a significant portion of a potential client.
                      <h5 class="card-title mt-4">Package Includes</h5>
                      <ul>
                        <li>5-7 Pages Website.</li>
                        <li>Front End Development.</li>
                        <li>Free 1 year domain of your choice.</li>
                        <li>Free 1 year web hosting.</li>
                      </ul>
                    </p>
                    <a class="btn btn-lg btn-block package-easy package-btn-easy border-0" href="/enquiryForm/packages/easy" role="button">Get Started</a>
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                  <div class="card shadow p-3 mb-5 bg-white rounded hvr-float">
                    <img class="card-image" src="https://i.imgur.com/ok5x45Q.png" alt="Medium Website Package Image">
                    <div class="card-header package-card package-medium border-0">
                      <h5 class="package-title text-center">Pro</h5>
                      <p class="lead text-center pricetag">MYR 1001 to MYR 1500</p>
                      <!--<p class="lead text-center pricetag">$251 to $350</p>-->
                    </div>
                    <div class="card-body">
                      <p class="card-text-justify">
                        Suitable for a start-up with a website that requires user interaction such as comments, feedback, email submission and contact us form.  Website developed with SEO optimization tag built in.
                        <h5 class="card-title">Package Includes</h5>
                        <ul>
                          <li>7-15 Pages Website.</li>
                          <li>Full stack development.</li>
                          <li>SEO integrated.</li>
                          <li>Analytics integrated.</li>
                          <li>AdWords account setup.</li>
                          <li>Free email account.</li>
                          <li>Free social media account setup.</li>
                          <li>Free 1 year domain of your choice.</li>
                          <li>Free 1 year web hosting.</li>
                        </ul>
                      </p>
                      <a class="btn btn-lg btn-block package-medium package-btn-medium border-0" href="/enquiryForm/packages/medium" role="button">Get Started</a>
                      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card shadow p-3 mb-5 bg-white rounded hvr-float">
                    <img class="card-image" src="https://i.imgur.com/UBLft1I.png" alt="Hard Website Package Image">
                    <div class="card-header package-card package-hard border-0">
                      <h5 class="package-title text-center">Enterprise</h5>
                      <p class="lead text-center pricetag">MYR 1501 above</p>
                      <!--<p class="lead text-center pricetag">$351 above</p>-->
                    </div>
                    <div class="card-body">
                      <p class="card-text-justify">
                        Suitable for large size website that requires user interaction such as E-Commerce website.  Website content is manageable and dynamic.  The website can be maintained from admin account using web interface.  Lots of room for customization and improvement. Supercharge your online sales now!
                        <h5 class="card-title">Package Includes</h5>
                        <ul>
                          <li>Above 15 Pages Website.</li>
                          <li>Full stack development.</li>
                          <li>SEO integrated.</li>
                          <li>Analytics integrated.</li>
                          <li>AdWords account setup.</li>
                          <li>Free email account.</li>
                          <li>Free social media account setup.</li>
                          <li>Free 1 year domain of your choice.</li>
                          <li>Free 1 year web hosting.</li>
                        </ul>
                      </p>
                      <a class="btn btn-lg btn-block package-hard border-0" href="/enquiryForm/packages/hard" role="button">Get Started</a>
                      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="jumbotron text-center jumbotron-white">
          <div class="container">
            <h2>Optimization</h2>
            <p class="lead">
              We always make sure that we are adaptable to the latest website design technology and trend. With expertise in various website styling components such as CSS, Bootstrap, Semantic UI and many more, will shape our website design to be a lot cleaner and beautiful. Thus making the website user interface friendly to users. Here in Rabbitworx we believe that cloud computing is the future. Whereby our database, development IDE and hosting server is cloud-based.
            </p>
            <div class="row">
              <div class="card-deck">
                <div class="card border-0">
                  <a href="https://adwords.google.com/intl/en_my/start/?subid=my-en-ha-g-aw-c-bklv_1-rlsa!o2~-1350667863-263595267818"><img class="card-img-top logoImg2" src="https://i.imgur.com/yqL5T1P.png" alt="Google Adwords Logo"></a>
                  <div class="card-body">
                    <h5>Attract more customers</h5>
                    <p class="card-text">
                      Whether you’re looking to bring in new website visitors, expand online sales, get the phones ringing or keep customers coming back for more, Google AdWords can help.
                    </p>
                  </div>
                </div>
                <div class="card border-0">
                  <a href="https://www.google.com.my/business/?gmbsrc=my-en_GB-ha-se-z-gmb-s-z-h~bk-53407113547-c&ppsrc=GMBS0"><img class="card-img-top logoImg2" src="https://i.imgur.com/gZm3bLE.jpg" alt="Google Image"></a>
                  <div class="card-body">
                    <h5>Help people to find you</h5>
                    <p class="card-text">
                      Your listing appears right when people are searching for your business or businesses like yours on Google Search or Maps. Google My Business makes it easy to create and update your listing – so you can stand out, and bring customers in.
                    </p>
                  </div>
                </div>
                <div class="card border-0">
                  <a href="https://www.google.com/analytics/analytics/#?modal_active=none"><img class="card-img-top logoImg2" src="https://i.imgur.com/fLgVBkW.png" alt="Google Image"></a>
                  <div class="card-body">
                    <h5>Improve the customer experience</h5>
                    <p class="card-text">
                      Google Analytics gives you the digital analytics tools you need to analyze data from all touchpoints in one place, for a deeper understanding of the customer experience. You can then share the insights that matter with your whole organization.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-deck d-flex justify-content-center">
                <div class="col-sm-4">
                  <div class="card border-0">
                    <a href="https://letsencrypt.org"><img class="card-img-top logoImg2" src="https://i.imgur.com/owUt55K.png" alt="Card image cap"></a>
                    <div class="card-body">
                      <h5>Secured connection for users</h5>
                      <p class="card-text">
                        Let’s Encrypt is a free, automated, and open certificate authority (CA), run for the public’s benefit. It is a service provided by the Internet Security Research Group (ISRG).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card border-0">
                    <a href="https://www.1and1.com/?ar=1"><img class="card-img-top logoImg2" src="https://my.1and1.com/modules/controlpanel-email-core/img/pages/mail-client-setup/webmailer.png" alt="Business Image" style="width:114px; height:114px;"></a>
                    <div class="card-body">
                      <h5>For professional looks</h5>
                      <p class="card-text">
                        Email address with your custom domain name. Having a custom domain email is one of the way to self promote your company.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-right"><small class="text-muted">*All Google products is trademark of Google Inc.</small></p>
          </div>
        </div>
      </main>
<% include partials/footer %>