<!--header-->
<!doctype html>
<html lang="en">
    <head>
        <title>Rabbitworx: Malaysia Website Design & Developer | Portfolio</title>
        <meta name="description" content="See our list of completed project and experience it your self. Experienced in developing e-Commerce Website, Company Profile Website, Personal Blog and more." />
        <% include partials/metadata %>
        <% include partials/linkimport %>
        <% include partials/linkgoogle %>
        <% include partials/headermenu %>
    </head>
    <main role="main" class="bg-white">
        <div id="portInfoDiv" class="jumbotron text-center text-white">
            <div class="container">
                <h1 class="jumbotron-heading">Portfolio</h1>
                <p class="lead">When we create a website, every content that we create has built-in SEO elements.  It is the only way for a newly developed website to be heard in a loud internet environment.  With this features enable we make it easy for any search engine to crawl and index the website.  Moving on to our website user interface design, our expertise in website styling components such as CSS, Bootstrap, Semantic UI and many more will shape our website design to be clean, beautiful and most importantly user-friendly.  Check out our list of finished website design project for your reference.</p>
            </div>
        </div>
        <div class="album py-5 bg-light">
        <!--<div class="container" id="portfolioCard-container">-->
            <div class="row d-flex justify-content-center slideCard">
                <!--<div id="portfolio-card">-->
                <div class="jumbotron text-center bg-light">
                    <div class="container">
                        <h1 class="jumbotron-heading">Our Client</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="card-group">
                            <div class="col">
                                <div class="card border-0 clientlogo bg light">
                                    <a href="https://mykasutbundle.com"><img class="card-img-top logoImg" src="/assets/clientlogo/arash.jpg" alt="mykasutbundle logo"></a>
                                    <!--<p class="lead">Promotional page for Band</p>-->
                                </div>
                                </div>
                                <div class="col">
                                <div class="card border-0 clientlogo bg-light">
                                    <a href="https://kejuruteraanambangmewah.com"><img class="card-img-top logoImg" src="/assets/clientlogo/KAM.png" alt="mykasutbundle logo"></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card border-0 clientlogo bg-light">
                                    <a href="https://mykasutbundle.com"><img class="card-img-top logoImg" src="/assets/clientlogo/mykasutbundle.png" alt="mykasutbundle logo"></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card border-0 clientlogo bg-light">
                                    <a href="https://pfrt.herokuapp.com"><img class="card-img-top logoImg" src="/assets/clientlogo/pfrt.png" alt="mykasutbundle logo"></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card border-0 clientlogo bg-light">
                                    <a href="https://proec.com.my"><img class="card-img-top logoImg" src="/assets/clientlogo/proec.jpg" alt="mykasutbundle logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="jumbotron text-center jumbotron-white">
            <div class="container">
            <p class="lead">In order to provide smooth user website surfing experience, website stability and reliability is our major concern.  Our solution is to use the best product on the internet that has been proven in use for a very long period of time.</p>
                <div class="row d-flex justify-content-center">
                    <div class="card-group">
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card border-0 " style="width: 10rem;">
                                <a href="https://docs.c9.io/docs"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/ojS5UeF.png" alt="cloud 9 logo"></a>
                                <div class="card-body">
                                    <h5>Cloud 9</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card border-0" style="width: 10rem;">
                                <a href="https://www.heroku.com/"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/LuijJpG.png" alt="Heroku logo"></a>
                                <div class="card-body">
                                    <h5>Heroku</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card border-0" style="width: 10rem;">
                                <a href="www.mongodb.com/Atlas"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/QFzXoym.png" alt="Card image cap"></a>
                                <div class="card-body">
                                    <h5>MongoDB</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card border-0" style="width: 10rem;">
                                <a href="https://developer.mozilla.org/en-US/"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/6KwaSci.png" alt="CSS & HTML logo"></a>
                                <div class="card-body">
                                    <h5>CSS3 & HTML5</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card text-center border-0" style="width: 10rem;">
                              <a href="https://getbootstrap.com/"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/LJcL9Yq.png" alt="Boostrap Logo"></a>
                              <div class="card-body">
                                <h5>Boostrap 4</h5>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <div class="card text-center border-0" style="width: 10rem;">
                                <a href="https://nodejs.org/"><img class="card-img-top logoImg hvr-bounce-in" src="https://i.imgur.com/LAV4x9Pm.png" alt="Node JS Logo"></a>
                                <div class="card-body">
                                    <h5>Node.JS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 bg-primary">
            <div class="container slideDownItem" style="margin-top: 2.5%">
                <h1 style="color: white;">Something needs to be answered?</h1>
                <a href="/contact" class="badge badge-primary"><h5>Contact us now!</h5></a>
                <p class="lead text-white"><small>*We will get back to you as soon as possible.</small></p>
                <form action="/enquiry" method="POST">
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text labelEnquiryForm" id="nameInput">Name *</span>
                                </div>
                                <input required name="enquiry[name]" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Barney">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text labelEnquiryForm" id="emailInput">Email *</span>
                                </div>
                                <input required name="enquiry[email]" type="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="user@email.com">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text labelEnquiryForm" id="phoneInput">Phone *</span>
                                </div>
                                <input required name="enquiry[phone]" type="number" class="form-control nospinner" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="xxx-xxxxxxx">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text labelEnquiryForm" for="categoryInput">Category</label>
                                </div>
                                <select required name="enquiry[category]" class="custom-select" id="catSel">
                                    <option selected>Choose...</option>
                                    <option value="onlineStore">Online Store</option>
                                    <option value="blog">Blog</option>
                                    <option value="personal">Personal</option>
                                    <option value="companyProfile">Company Profile</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text labelEnquiryForm" for="budgetInput">Budget</label>
                                </div>
                                <select required name="enquiry[budget]" class="custom-select" id="bugSel">
                                    <option selected>Choose...</option>
                                    <option value="easy">RM 501 to RM 1000</option>
                                    <option value="medium">RM 1001 to RM 1500</option>
                                    <option value="hard">RM 1501 and above</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text labelEnquiryForm">Remarks</span>
                                </div>
                                <textarea name="enquiry[remarks]" class="form-control" aria-label="With textarea" placeholder="Any message for us?"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn bg-white btn-block" id="enquiryBtn">Submit</button>
                </form>
                <p style="color: white;"><small><i class="far fa-question-circle"></i> Feeling chatty? Call us now at +6016 444 9501 and get immediate response.</small></p>
            </div>
        </div>
    </main>
<% include partials/footer %>