<!--header-->
<!doctype html>
<html lang="en">
    <head>
      <title>Rabbitworx: Malaysia Website Design & Developer | Register Admin</title>
      <meta name="description" content="Register Name for Admin Only" />
      <% include partials/metadata %>
      <% include partials/linkimport %>
      <% include partials/linkgoogle %>
      <% include partials/headermenu %>

<div style="background-color: rgb(244, 66, 66)">
    <div class="container" id="loginForm">
        <div class="container-fluid">
            <h1 class="display-4">Welcome Admin.</h1>
            <p class="lead">Please login password and PIN.</p>
        </div>
        <form action="/registeradmin" method="POST">
            <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"  name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPin">Admin PIN</label>
            <input type="password" class="form-control" name="pin" placeholder="Admin Pin">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<% include partials/footer %>