.fullheight {
    min-height: 100vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden !important;
}

#landing-header {
    margin-top: 500px;
    z-index: 1;
    position: relative;
    text-align: center;
}

#landing-header h1 {
  color: #fff;
}

#imgBackground {
    width: 100%;
    height: 100%;
}

.enquiryForm {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 10%;
    background: linear-gradient(#888b91, #fffff);
}

.enquiryForm2 {
    width:600px;
    background-color: rgba(242, 244, 252, 0.9);
    margin-top: 20px;
    background: linear-gradient(#888b91, #fffff);
}

#aboutContainerHeader {
    background-color: rgba(56, 28, 28, 0.5);
    width: 30%;
}

.labelEnquiryForm {
    width: 100px;
}

#enquiryBtn {
    margin-top: 15px;
}

.logoPic {
    text-align: center;

}

.package-card {
    height: 100px;
}

.package-easy {
    background: linear-gradient(to right, #007bff, #aaaaff);
    color: white;
}

.package-medium {
    background: linear-gradient(to right, #ffc107, #ffdf84);
    color: white;
}

.package-hard {
    background: linear-gradient(to right, #dc3545, #d18e95);
    color: white;
}

.package-title {
    color: white;
}

.jumbo-container {
    background-color: rgba(255, 255, 255, 0.96);
}

.landing-jumbotron {
    color: white;
    display: none;
    margin-top: 30%;
    /*text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;*/
}

/*.backgroundImgDiv {*/
    /*width: 100%; */
    /*height: 100%; */
    /*position: fixed; */
    /*left: 0px; */
    /*top: 0px; */
   /*  z-index: -1; Ensure div tag stays behind content; -999 might work, too. 
} */

.backgroundImgDiv {
    
}

.backgroundImg {
    width:100%;
    height:100%;
}

#footerDiv {
    margin-top: 6.5%;
    background-color: rgba(249, 249, 249, 0.9);
}

#portfolioImgDiv {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

#portfolioImg {
    width:100%;
    height:100%;
    background-color: rgba(0, 17, 45, 0.9);
}

.portfolioCard {
    background-color: rgba(249, 249, 249, 0.9);
    margin-top: 10px;
}

.jumbotronEnquiry {
    margin-top: 10%;
    color: white;
    /*background-color: rgba(249, 249, 249, 0.9);*/
}

.enquiryBack {
    background-color: rgba(0, 17, 45, 0.9);
}

.slideDownItem {
    /*text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;*/
    color: white;
    display: none;
}

.jumbotron-white {
    background-color: white
}

.aWhite {
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bgimage {
  width:100%;
  height:1000px;
  background: url('https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?ixlib=rb-0.3.5&s=0b8ff976a537f83045539a4baaeae498&auto=format&fit=crop&w=1949&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.text-shadow {
    color: white;
    text-shadow: 1px 1px 4px #000000;
}

.nospinner::-webkit-inner-spin-button, 
.nospinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.carousel-item {
    max-height: 70vh;
}

.btn-carousel {
    margin-top: 10%;
    margin-bottom: 10% ;
}

.container-carousel {
    max-width: 80vh;
}

.mh-1 {
    min-height: 400px;
}

.hidden {
      display: none;
    }

#topBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 1030;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    /*line-height: 500px;*/
    text-align: center;
}

.bgImg {
    display: none;
    position: relative;
    max-width:100%;
    /*height:50%;*/
    
}

#infoDiv {
    background: linear-gradient(to right, #007bff , #65ADFF);
}

#infoSection {
    margin-top: 5%;
    padding: 5%
}

#bgBlueGradient {
    background: linear-gradient(to right, #007bff , #65ADFF);
}

.bg-features {
    background-color : #F5F6FA;
    padding: 5%;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.icon-img {
    max-width:20%;
}

.text-someblue {
    color: #5556A9;
}

.carousel-img {
    width: auto;
    height: 100%;
}

.circle {
    /*display: none;*/
    text-align: center;
    border:2px solid #A155CD;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width: 100px;
}

.circle:hover {
    background-color: #A155CD;
    color: white;
    -webkit-animation: fadeIn-in 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn{
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn{
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn{
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@-o-keyframes fadeIn{
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
 
.content {
  transform : translateY(18%);
}

.center {
    position: relative;
    margin-left: 35%;
}

.ruler1 {
    position: absolute;
    top: 35px;
    left: 21.6%;
    z-index: 90;
    min-width: 23%;
}

.ruler2 {
    position: absolute;
    top: 35px;
    left: 55.1%;
    z-index: 90;
    min-width: 23%;
}

.display-none {
    display: none;
    min-height: 400px;
}

.display-none-pure {
    display: none;
}

.card-image {
    max-height: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.display-none-true {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    /*padding-top: 100px;*/
    top: 5%;
    left: 30%;
    max-width: 40%;
    height: auto;
    overflow: auto; /* Enable scroll if needed */
}

#backdrop {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

/* The Close Button */
.close {
    position: absolute;
    z-index: 2001;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content (image) */
.modal-content {
    left: 0;
    top: 0;
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100%
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

#promoBtn {
    position: absolute;
    z-index: 2001;
    top: 42.8%;
    right: 40%;
}

.display-big {
  font-size: 3.5rem;
  line-height: 1.2;
}

#media-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #9742c8;
}

.rounded-btn {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 23px;
}

#media-container {
    max-width: 700px;
}

.blog-flex {
    margin-top: 10px;
    display: flex;
    /*justify-content: center;*/
    align-items: flex-end;
}

.img-cropper {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #eff0f2;
}

#overlay-1 {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#overlay-2 {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

#overlay-3 {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}

.blog-img {
    overflow: hidden;
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.card-text-custom {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.card-title-custom {
    color: white;
    text-align: center;
}

.card-slideup {
    display: none;
    color: #edf2f9;
}

.card-text-content {
    text-align: justify;
    text-justify: inter-word;
}

.pricetag {
    color:white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-image {
    padding-bottom: 3%;
}

.card-img-top.reasonImg {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

#navbarBrandImg {
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

.colorHighlite {
    color: yellow;
}

.bold {
    font-weight: bold;
}

#subcontentTitle {
  font-size: 1.5em;
  color: white;
}

.featureList {
    text-align: left;
}

.small {
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.customCard {
    background: linear-gradient(to right, #888b91, #fffff);
}

.card.blueCard {
    background: linear-gradient(to right, #F7F9C5, #EEFCE1)
}

.mainTitleHeader {
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    color: #8a66dd;
    text-transform: uppercase;
}

.slideCard {
    overflow-y: auto;
    /*white-space: nowrap;*/
}

.folioCard {
    width: 1004px;
}

#portInfoDiv {
    background: linear-gradient(to right, #007bff , #65ADFF);
}

#packInfoDiv {
    background: linear-gradient(to right, #007bff , #65ADFF);
}

.bg-mediaBar {
    background-color : #F5F6FA;
}

.changeBg {
    background-color: #007bff;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.bg-transparent {
    position: absolute;
    width: 100%;
}

#contactBgDiv {
    background: linear-gradient(to right, #007bff , #65ADFF);
}

.card-text-justify {
    text-align: justify;  
}

@media (min-width: 992px) {
	.package-btn-easy {
	    margin-top: 155px;
	}
}

@media (min-width: 992px) {
	.package-btn-medium {
	    margin-top: 65px;
	}
}

.hover-fb:hover {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}

.hover-tw:hover {
  color: #fff;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.hover-ig:hover {
  color: #fff;
  background-color: #fb3958;
  border-color: #fb3958;
}

.card-expertise {
  min-height: 280px;
  min-width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.info-con {
    max-width: 250px;
}

.clientlogo {
    text-align: center;
    padding-left: 3px;
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    padding-bottom: 15px;
}

.benefit-card {
    min-height: 340px;
}

.aBlack {
    color: black;
}

.aBlack:hover {
    text-decoration: none;
}

.bg-footer {
    color: #ededed;
    background-color: #1b2b63;
}

#logo-footer {
    width: 100px;
    height: auto;
}

.about-sec {
    text-justify: distribute;
    text-align: center;
}

.head-footer {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ededed;
    text-transform: uppercase;
}

.ac {
    color: #ededed;
}

.sub-footer {
    font-weight: 700;
    color: white;
}

#whr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.copyright-sec {
    font-size: 0.7em;
}

.center-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bold-worx {
    color: #b7b7b7;
}

.contactImg {
    height: 80px;
    width: auto;
}

.contactInfo {
    color: #939393;
}

.wwdMaintenance {
    min-height : 150px;
    background: #007bff;
    color: white;
}

.wwdDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height : 150px;
    background: #ffc107;
    color: white;
}

.wwdSEO {
    min-height : 150px;
    background: #17a2b8;
    color: white;
}

.wwdIconHeader {
    font-size: 2.3em;
}

.wwdPoint {
    text-align: left;
}

#newsfeedReg {
    height: 200px;
}

.nfContent {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.nfBtn {
    height: 0px;
    width: auto;
}

.nfTitle {
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
}

.nfCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    height: 100px;
    width: auto;
}

.logoImg2 {
    height: 150px;
    width: auto;
}

/*Particles css*/

canvas{
  display:block;
}

#particles-js{
    overflow: hidden;
  display: flex;
  width: 100%;
  max-height: 700px;
  min-height: 400px;
  background-color: #007bff;
  /*background-size: cover;*/
  /*background-position: 50% 50%;*/
  /*background-repeat: no-repeat;*/
}

#giantHeaderCon {
    width: auto;
    max-height: 600px;
    top: 20%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.cardTitle {
    font-weight: bold;
}

@media(min-width: 992px) {
    #giantHeader {
      color: white;
      font-size: 4.5rem;
      font-weight: bold;
      line-height: 1.2;
    }
}

@media(max-width: 992px) {
    #giantHeader {
      color: white;
      font-size: 2.3rem;
      font-weight: bold;
      line-height: 1.2;
    }
}

@media(min-width: 992px) {
   #subcontentHeader {
      font-size: 1.5em;
      color: white;
    } 
}

@media(max-width: 992px) {
   #subcontentHeader {
      font-size: 1em;
      color: white;
    } 
}


.btn-outline-light-custom {
  color: white !important;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light-custom:hover {
  color: #007bff !important;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
/*end Particles css*/

/*Hover effect*/

/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}